footer{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0009;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
}