main{
    background-image: ur;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.doacoes{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colun1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.colun2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dinheiro{
    border-radius: 50%;
    border-color: white;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 3rem;
}

.debito{
    background-image: url(../imgs/formasDePagamento/debito.png);
    background-size: 90%;
}

.credito{
    background-image: url(../imgs/formasDePagamento/credito.jpg);
}

.boletoBancario{
    background-image: url(../imgs/formasDePagamento/boleto-bancario.webp);
}

.pix{
    background-image: url(../imgs/formasDePagamento/pix.webp);
}

.transfBancaria{
    background-image: url(../imgs/formasDePagamento/tranferencia-bancaria.jpg);
}

.imoveis{
    background-image: url(../imgs/formasDePagamento/imoveis.webp);
}