main{
    background-image: url(../imgs/formasDePagamento/bakgrouns\ doacoes.jpeg);
    background-repeat : no-repeat;
    background-position: 30% 45%;
    flex-grow: 1;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
}

.dInicio{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.5rem;
}

.doacoes{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colun1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.colun2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dinheiro{
    border-radius: 50%;
    border-color: white;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:  1.5rem;
    color: black;
}

.links p{
    font-size: 1rem;
}

.img-pag{
    color: black;
}

.debito{
    background-image: url(../imgs/formasDePagamento/debito.png);
    background-size: 90%;
}

.credito{
    background-image: url(../imgs/formasDePagamento/credito.jpg);
    background-size: 90%;
}

.boletoBancario{
    background-image: url(../imgs/formasDePagamento/boleto-bancario.webp);
    background-size: 101%;
    background-repeat : no-repeat;
}

.pix{
    background-image: url(../imgs/formasDePagamento/pix.webp);
    background-size: 90%;
}

.transfBancaria{
    background-image: url(../imgs/formasDePagamento/tranferencia-bancaria.jpg);
    background-size: 90%;
}

.imoveis{
    background-image: url(../imgs/formasDePagamento/imoveis.webp);
    background-size: 90%;

}
